@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

:root {
  --color-black: #101111;
  --color-white: #ffffff;
  background-color: var(--color-black);
}
* {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Exo', sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
